coverage.out
.vscode
.idea
bin/*
*.log
*.log.gz
.env
# local build output via go build
process-compose

# nix build .#process-compose output
result

dist/
/exports
www/venv
www/.cache

Cargo.lock
target
